<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<head>
      <title>Admin</title>
   </head>
<h:body>
	<ui:composition >
			<ui:include src="adminHome.xhtml"></ui:include>
	</ui:composition>
</h:body>
</html>