<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition>
<h:form>
	<link rel="stylesheet" href="resources/css/admin.css" />
	<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"> </link>
			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"></script>
	<h:commandButton action = "#{pagesRedirect.posts}" value = "Manage Posts"  styleClass="btn btn-success btn2"/>
   <h:commandButton action = "#{pagesRedirect.users}" value = "Manage Users" styleClass="btn btn-success btn2" />
   <h:commandButton action = "#{userLoginBean.logout}" value = "Logout" styleClass="btn btn-success btn3" />
   <br/>
   <h:outputText value="Number of users: #{statsBean.numberOfUsers}" style="margin: 0 2% 0 2%"></h:outputText>
   <h:outputText value="Number of current logged in users: #{statsBean.numberOfLoggedUsers}"></h:outputText>
   <div style="width: 83vw ; height: 50vh;">
		<canvas id="bar-chart"   ></canvas>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script src="resources/js/chart.js"></script>
	<script>
		loadChart(${statsBean.labelsForCharts},${statsBean.numberOfHours});
	</script>
</h:form>
</ui:composition>
</html>