<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition>
	<h:form>
		<link rel="stylesheet" href="resources/css/admin.css" />
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"> </link>
			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"></script>
		<h:commandButton action = "#{pagesRedirect.home}" value = "Back to home"  styleClass="btn btn-success btn2"/>
		<h:dataTable value="${postBean.helpPosts}" var="post" styleClass="users">
			<h:column>
				<f:facet name="header">Name</f:facet>
				<h:outputText value="${post.name}">
				</h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Location</f:facet>
				<h:outputText value="${post.location}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Description</f:facet>
				<h:outputText value="${post.description}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Image</f:facet>
				<h:outputText value="${post.imageUrl}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Date and Time</f:facet>
				<h:outputText value="${post.datetime}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Category</f:facet>
				<h:outputText value="${post.category}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">is Blocked?</f:facet>
				<h:outputText value="${post.isBlocked}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">is Reported?</f:facet>
				<h:outputText value="${post.isReported}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Change Block Status</f:facet>
				<h:commandLink value="Change"
					styleClass="btn btn-success" action="#{postBean.changeStatusBlock}" >
					<f:param value="${post.id}" name="id" />
				</h:commandLink>
			</h:column>
			<h:column>
				<f:facet name="header">Delete post</f:facet>
				<h:commandLink value="Delete"
					styleClass="btn btn-success" action="#{postBean.deletePost}" >
					<f:param value="${post.id}" name="id" />
				</h:commandLink>
			</h:column>
		</h:dataTable>
	</h:form>

</ui:composition>
</html>