<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition>
	<h:form>
		<link rel="stylesheet" href="resources/css/admin.css" />
		<link rel="stylesheet" href="resources/css/login.css" />
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"> </link>
			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"></script>
		<h:panelGroup layout="block" styleClass="loginDiv">
		<h:outputLabel value="Admin Login" styleClass="textLogin"></h:outputLabel>
		<br/>
		<br/>
		<h:outputLabel value="Username"></h:outputLabel>
		<h:inputText value="#{userLoginBean.username}" styleClass="form-control inputText" ></h:inputText>
		<h:outputLabel value="Password"></h:outputLabel>
		<h:inputSecret value="#{userLoginBean.password}" styleClass="form-control inputText"></h:inputSecret>
		<h:commandButton action="#{userLoginBean.login}" value="Login" styleClass="btn btn-success loginButton"></h:commandButton>
		<h:outputText id="msg"  binding="#{userLoginBean.component}"/>
		<h:message for="msg" styleClass="resultMsg" />
		</h:panelGroup>
	</h:form>

</ui:composition>
</html>