<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<ui:composition>
	<h:form>
		<link rel="stylesheet" href="resources/css/admin.css" />
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"> </link>
			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"></script>
		<h:commandButton action = "#{pagesRedirect.home}" value = "Back to home"  styleClass="btn btn-success btn2"/>
		<h:dataTable value="${userBean.users}" var="user" styleClass="users">
			<h:column>
				<f:facet name="header">Username</f:facet>
				<h:outputText value="${user.username}">
				</h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Name</f:facet>
				<h:outputText value="${user.name}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Surname</f:facet>
				<h:outputText value="${user.surname}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Email</f:facet>
				<h:outputText value="${user.email}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Country</f:facet>
				<h:outputText value="${user.country}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Region</f:facet>
				<h:outputText value="${user.region}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">City</f:facet>
				<h:outputText value="${user.city}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Status</f:facet>
				<h:outputText value="${user.status}"></h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">Change Status</f:facet>
				<h:commandLink value="Change status"
					styleClass="btn btn-success" action="#{userBean.changeStatus}" >
					<f:param value="${user.username}" name="username" />
				</h:commandLink>
			</h:column>
			<h:column>
				<f:facet name="header">Reset Password</f:facet>
				<h:commandLink value="Reset Password"
					styleClass="btn btn-success" action="#{userBean.resetPassword}" >
					<f:param value="${user.username}" name="username" />
				</h:commandLink>
			</h:column>
		</h:dataTable>
	</h:form>

</ui:composition>
</html>