.btn{
	background: blue;
}
.users {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.users td, .users th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.users tr:nth-child(even){background-color: #f2f2f2;}

.users tr:hover {background-color: #ddd;}

.users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
.btn2{
	margin: 1% 2%;
}
.loginDiv{
	position:absolute;
	left:30%;
	top:25%;
	width: 40vw;
}
.loginButton{
	width:30%;
	margin:2% 35%; 
}
.textLogin{
	font-size: 24px;
	margin:0% 35%;
	width:30%;
}
.inputText{
	margin: 0 0 5% 0;
}
.resultMsg{
	font-size: 24px;
	margin:0% 12%;
	width:30%;
}
.btn3{
	float:right;
	margin-top:1%;
	margin-right:5%;
}